---
import { getBlogCollection, getUniqueTagsWithCount } from 'astro-pure/server'
import { Button } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { withBase } from '@/lib/paths'

const allTags = getUniqueTagsWithCount(await getBlogCollection())
const meta = {
  description: '按主题浏览文章。',
  title: '全部标签'
}
---

<PageLayout {meta}>
  <Button title='返回文章' href={withBase('/blog')} variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>标签</h1>
    </div>

    <div id='content' class='animate'>
      {
        allTags.length > 0 ? (
          <ul class='flex flex-wrap gap-4'>
            {allTags.map(([tag, count]) => (
              <li>
                <Button
                  href={withBase(`/tags/${tag}`)}
                  variant='pill'
                  class={cn(
                    'items-start gap-x-1',
                    count > 2 ? 'rounded-xl px-3 py-1 text-xl' : count > 1 && 'text-lg'
                  )}
                >
                  {tag}
                  <span class={count > 2 ? 'text-base' : 'text-xs'}>{count}</span>
                </Button>
              </li>
            ))}
          </ul>
        ) : (
          <p>暂时还没有标签。</p>
        )
      }
    </div>
  </main>
</PageLayout>
